*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 1em;
}
#header{
 height: 150px;
 background-color: green;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-top: 1em;
 margin-right: 0.75em;
 vertical-align: top;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 padding: 1em;
 display: inline-block;
 margin-top: 1em;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin-left: 0.5em
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin-left: 0.5em;
 margin-top: 2em;
}