#wrapper {
	background: grey;
	height: 100%;
	display: block;
	padding: 10px;
}

#header {
	background: green;
	height: 1em;
	margin: 10px;
	padding: 1.75em;
	display: block;

}

#navigation {
	background: blue;
	padding: 3em;
	height: 5em;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

#main_content {
	background: red;
	display: inline-block;
	padding: 10px 40px 50px 10px; 
	/*can i delete the last 10px out?*/
	margin: 10px;
}
	
.subcontents {
	background: yellow;
	display: inline-block;
	padding: 3em;
}

#advertisement {
	background: purple;
	height: 2em;
	display: block;
	padding: 20px;
	margin: 10px 0;
	padding-left: 2em;
}

/*how can i make main_content and navigation adjust theyr size to the size of the screen*/